*{
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: rgb(244, 245, 241);
}
/* nav */
.nav{
    display: flex;
    list-style: none;
    gap: 30px;
    
    color: #474747;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

span{
    color: #FD6E0A;
}

h1{
    font-size: 45px;
}

.btn{
    background-color: #FD6E0A;
    padding: 15px 40px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
header{
    background-color: #FFF8F3;

}


/* banner */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-top: 150px;
}
.banner-content h5{
    font-size: 45px;
    color: #474747;
    padding-top: 5px;
}
.banner-content h2{
    font-size: 85px;
    font-weight: bold;
    padding-top: 5px;
}
.banner-content p{
    color: #757575;
    font-size: 18px;
    padding-top: 5px;
}
.banner-content .btn{
    margin-top: 15px;
}
.banner-content .cnt-btn{
    padding: 13px 40px;
    cursor: pointer;
    background-color: #FFF8F3;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 10px;
}

.container{
    max-width: 1200px;
    margin: auto;
}


/* Hero Section */
.hero-section{
    margin-top: 150px;
    background-color: #FFF8F3;
    border-radius: 15px;
    text-align: center;
}

.abt-me{
    font-size: 35px;
    padding-top: 100px;
}

.abt-me-p{
    font-size: 18px;
    color: #757575;
    padding: 15px 150px;
}

.abt-list{
    display: flex;
    list-style: none;
    gap: 100px;
    justify-content: center;
    padding: 0 0 100px; 
}
/* list */
.abt-list h4{
    font-size: 20px;
    color: #757575;
}
.abt-list p{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

/* What I do Section */
.what-i-do-section{
    margin-top: 150px;
}

.what-i-do h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.what-i-do p{
    text-align: center;
    font-size: 18px;
    color: #757575;
    padding: 25px 150px;
}

/* cards */
.cards{
    display: flex;
    gap: 25px;
    padding: 25px;
}
.card{
    border-radius: 10px;
    border-radius: 10px;
    padding: 35px 20px;
    background-color: #ffff;
}
.card h5{
    font-size: 20px;
    padding: 10px 0px;
}
.card p{
    font-size: 16px;
    color: #757575;
    padding: 25px 0px;
}

/* A summary of My Resume */
.summary{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}